<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Project 1</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="script.js" async defer></script>
</head>
<!-- v-for='attempt in attempts'
:key='attempt.count'
:original='attempt.original'
:guessString='attempt.guessString'
:score='attempt.score'
:success='attempt.success'> -->
<body>
  <script type='text/x-template' id='round-detail'>
    <div class="row text-light" :class="success?'bg-success':'bg-danger'">
      <div class="col">{{count}}</div>
      <div class="col">{{score}}</div>
      <div class="col">{{original}}</div>
      <div class="col">{{guessString}}</div>
    </div>
  </script>
  <h1 class="text-center">Memory Game</h1><br>
  <div id='app' class="container">
    <div class="row">
      <div id="game" class="col-sm">
        <h2 class="text-center">Game on!</h2>
        <div class="container d-flex flex-column justify-content-center mr-auto ml-auto">
          <div class="d-flex flex-column justify-content-center mr-auto ml-auto" v-cloak>
            <h5>Lets test your memory. <br>How many numbers can you memorize in 5 seconds?</h5>
            <!-- <label>Item: <input type='text' v-model='itemName'></label><br> -->
            <label>Count: <input type='number' v-model='challengeCount' min='1'>
              <button @click="getChallengeNumbers">Submit digit count</button></label>
              <div v-if='newGame'>
                <h4>Please memorize the numbers below in {{5-timing}} seconds</h4>
                <span v-for="adigit in numbersShown">{{adigit}}</span>
              </div>
              <div v-if='timesUp'>
                <h6>Ok, time to test your recall</h6>
                <label>Enter your numbers here in the same order:
                  <input type='text' v-model="guessString">
                  <button @click="checkEntry" :disabled="feedback.length > 0">Submit</button>
                </label><br />
                <div id='feedback' v-if="feedback.length > 0">
                  <div :class="feedBackObject">{{ feedback }}</div>
                  <button @click="restartGame">Try again!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="scoreboard" class="col-sm">
          <h2 class="text-center">Your score:{{totalScore}}</h2>

          <div class="row">
            <div class="col">#</div>
            <div class="col">Score</div>
            <div class="col">Original</div>
            <div class="col">Guess</div>
          </div>
          <div>
            <round-detail
            v-for='attempt in attempts'
            :key='attempt.count'
            :count='attempt.count'
            :original='attempt.original'
            :guess-string='attempt.guessString'
            :score='attempt.score'
            :success='attempt.success'>
          </round-detail>
        </div>
      <!-- <round-detail
      v-for='attempt in attempts'
      :key='attempt.count'
      :count='attempt.count'
      :original='attempt.original'
      :guess-string='attempt.guessString'
      :score='attempt.score'
      :success='attempt.success'>
    </round-detail> -->
  </div>
</div>
</div>
</body>

</html>
